<% if(theme.comment.system === 'waline' && theme.comment.config.waline.serverUrl && theme.comment.config.waline.lang) { %>
    <div id="waline"></div>
    <label for="wl-edit" aria-label="Edit text box."></label>
    <script type="module" data-swup-reload-script>
      import { init } from '<%= url_for('js/libs/waline.mjs') %>';

      function loadWaline() {
        init({
          el: '#waline',
          serverURL: '<%= theme.comment.config.waline.serverUrl %>',
          lang: '<%= theme.comment.config.waline.lang %>',
          dark: 'body[class~="dark-mode"]',
          requiredMeta: ['nick', 'mail']
        });
      }

      if (typeof swup !== 'undefined') {
        loadWaline();
      } else {
        window.addEventListener('DOMContentLoaded', loadWaline);
      }

      document.querySelector('label[title="Upload Image"]').setAttribute('aria-label', 'Upload your image.');
      var document.createElement('label').setAttribute('aria-label', 'Search gif.')

    </script>
<% } %>
